@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  font-family: sans-serif;
}

.social-media {
  justify-content: center;
  margin: 40px;
  padding: 10px 10px;
  display: flex;
}
.social-icon {
  height: 46px;
  width: 56px;
  margin: 0 1rem;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border: 1px solid black;
  background-color: rgb(236, 236, 223);
  color: black;
  font-size: 1rem;
  border-radius: 25%;
  transition: 0.3s;
  display: flex;
}
.social-icon:hover {
  transition: 0.3s;
  color: teal;
  border-color: teal;
}

.box1 {
  margin: 20px;
  padding: 20px;
  text-align: center;
  min-width: 100vh;
  position: relative;
  background: white;
  align-items: center;
  justify-items: center;
  display: grid;
  float: center;
  overflow: hidden;
}
.navbar {
  overflow: hidden;
  display: inline-flex;
  font-family: Times New Roman;
}

.navbar a {
  float: left;
  font-size: 1.2rem;
  color: black;
  text-align: center;

  padding: 14px;
  text-decoration: none;
  border-radius: 50px;
}

.dropdown {
  float: left;
}

.dropdown .dropbtn {
  font-family: Times New Roman;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  font-size: 1.2rem;
  margin: 0;
  border-radius: 2%;
  background-color: transparent;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: lightgrey;
  color: brown;
  border-radius: 50px;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: 160px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.grid-container {
  margin: 40px;
  padding: 10px;
  width: 100%;
  height: 1000px;
  position: relative;
  background-color: transparent;
  display: inline;
  float: center;
  align-items: center;
  justify-items: center;
  border-color: 2px black;
}

div.gallery {
  position: relative;
  border: transparent;
  margin: 70px;
  padding: 20px;
  border-radius: solid white 10px;
  width: 33.3%;
  height: 800px;
  display: inline-grid;
}

div.gallery:hover {
  border: 1px solid #777;
  transition: 0.3s;
}

.img {
  width: 400px;
  height: 670px;
  border-end-start-radius: 20%;
}

div.desc {
  padding: 15px;
  text-align: center;
  font-family: Georgia;
  font-size: 1.5rem;
}
div.desc:hover {
  color: brown;
}

.Recipie {
  border-radius: 5%;
  height: 30px;
  width: 100px;
  align-items: center;
  background-color: olivedrab;
  color: white;
  position: relative;
  left: 38%;
}
.Recipie:hover {
  border-radius: 50px;
  background-color: rgb(236, 236, 223);
  color: black;
}
.accordion {
  background-color: rgb(235, 235, 166);
  border-radius: 30px;
  cursor: pointer;
  margin: 20px;
  padding: 18px;
  width: 1400px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  color: black;
  position: relative;
  display: block;
  align-content: center;
  justify-content: center;
}
.accordion::before {
  content: "+";
  right: 40px;
  position: absolute;

  padding: 5px;
}
.active,
.accordion:hover {
  background-color: olivedrab;
  content: "-";
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  color: black;
  overflow: hidden;
}
